
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    text-align: center;
    margin-bottom:60px;
  }
  
  h4{
    text-align:center; 
    line-height:80px;
    font-weight:normal;
  
  }
  .masonry { /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count:4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
}

  .item {
      display: inline-block;
      background: #fff;
      padding: 1em;
      margin: 0 0 1.5em;
      width: 100%;
      -webkit-transition:1s ease all;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-shadow: 2px 2px 4px 0 #ccc;
  }
  .item img{max-width:100%; height: auto;}
  
  @media only screen and (max-width: 320px) {
      .masonry {
          -moz-column-count: 1;
          -webkit-column-count: 1;
          column-count: 1;
      }
  }

  @media only screen and (max-width: 700px) {
      .masonry {
          -moz-column-count: 1;
          -webkit-column-count: 1;
          column-count: 1;
      }
  }
  
  @media only screen and (min-width:701px) and (max-width: 1000px){
      .masonry {
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2;
      }
  }
  @media only screen and (min-width: 1001px) and (max-width: 1300px){
      .masonry {
          -moz-column-count: 3;
          -webkit-column-count: 3;
          column-count: 3;
      }
  }
  @media only screen and (min-width: 1301px) {
      .masonry {
          -moz-column-count: 4;
          -webkit-column-count: 4;
          column-count: 4;
      }
  }